@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap')

:root
  --orange: hsl(26, 100%, 55%)
  --paleOrange: hsl(25, 100%, 94%)
  --very_vark_blue: hsl(220, 13%, 13%)
  --dark_grayish_blue: hsl(219, 9%, 45%)
  --grayish_blue: hsl(220, 14%, 75%)
  --light_grayish_blue: hsl(223, 64%, 98%)
  --white: hsl(0, 0%, 100%)
  --black: hsl(0, 0%, 0%)
  --font_family: 'Kumbh Sans', sans-serif
  --font_regular: 400
  --font_bold: 700

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: var(--font_family)
  font-size: 16px
  background-color: var(--white)